# Kubernetes binaries
kubectl
minikube-linux-amd64

# Certificate files
*.crt
*.key
*.csr
*.pem
*.srl

# Other sensitive files
.env
secrets/
*passwd

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# VSCode
.vscode/

# OS-specific
.DS_Store
Thumbs.db
